<% if notice %>
  <%= render 'layouts/notices' %>
<% end %>
<% if @stock %>
  <div class="card m-2 shadow">
    <div class="card-body d-flex justify-content-around align-items-center">
      <span>Symbol: <strong><%= @stock.symbol %></strong></span>
      <span>Company: <strong><%= @stock.company_name %></strong></span>
      <span>Price: <strong>$<%= @stock.price %></strong></span>
      <% if current_user.broker? %>
        <%= link_to "Add", transactions_path(user: current_user, symbol: @stock.symbol), 
                          method: :post,
                          class: 'btn btn-xs btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>
