<h1>Edit User</h1>
<%= form_for @user, url: users_admin_path(@user)  do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <% @user.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>
  <%= collection_select(:user, :role_id, Role.all, :id, :name, { prompt: true } ) %>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br>
    <% end %>
    <%= form.password_field :password %>
  </div>
  <div class="field">
    <%= form.label :password, 'Confirm Password' %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Cancel', users_admin_index_path %>
