<%= form_with model: @transaction, html: { class: 'mx-auto mt-4 col-md-6 shadow p-3 position-absolute top-50 start-50 translate-middle'} do |f| %>
  <h2 class='h3 mb-3 fw-normal'><%= @stock.company_name %></h2>
  <p>Symbol: <%= @stock.symbol %></p>
  <div class="field">
    <%= f.label :stock_price %>
    <div class="input-group">
      <div class="input-group-text">$</div>
      <%= f.number_field :stock_price, value: @stock.price, readonly: true, class: 'form-control' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :share %>
    <%= f.number_field :share, placeholder: 1, required: true, class: 'form-control',min: 1 %>
  </div>
  <div class="field">
    <%= f.label :price, 'Purchase Price' %>
    <div class="input-group">
      <div class="input-group-text">$</div>
      <%= f.number_field :price, readonly: true, class: 'form-control' %>
    </div>
  </div>
  <%= f.hidden_field :stock_id, value: @stock.id %>
  <%= f.submit 'Buy', class: 'btn btn-success my-2 w-100'%>
  <%= link_to 'Cancel', 'javascript:history.back()', class: 'btn btn-outline-secondary w-100' %>
<% end %>
<%= javascript_pack_tag 'buy_stock' %>
