<div class="mx-4">
  <div class="d-flex justify-content-between mx-4">
    <p>You are logged in as: <strong><%= current_user.email %></strong></p>
  </div>
  <table class='table table-bordered table-hover mt-4'>
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Account</th>
      <th>Actions</th>
    </tr>
  </thead>
    <% @unapproved_users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.role.name %></td>
          <td><%= link_to 'Approve', broker_path(user), method: :patch%></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>