<header>
  <nav class="navbar navbar-expand-md shadow p-3 mb-4 bg-light">
    <div class="container-fluid">
      <%= link_to "Stockit", root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if current_user&.admin? %>
            <% if current_page?(users_admin_index_path) %>
              <li><%= link_to "All Users", users_admin_index_path, class: 'btn btn-outline-secondary mx-2 text-decoration-none active' %></li>
              <li class='mx-2 position-relative'>
                <%= link_to "Pending Brokers", brokers_path, class: 'btn btn-outline-secondary text-decoration-none'%>
                <% if !@unapproved_users.empty? %>
                  <span class='position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger'>
                    <%= @unapproved_users.count %>
                  </span>
                <% end %>
              </li>
            <% elsif current_page?(brokers_path) %>
              <li><%= link_to "All Users", users_admin_index_path, class: 'btn btn-outline-secondary mx-2 text-decoration-none' %></li>
              <li class='mx-2 position-relative'>
                <%= link_to "Pending Brokers", brokers_path, class: 'btn btn-outline-secondary text-decoration-none active' %>
                <% if !@unapproved_users.empty? %>
                  <span class='position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger'>
                    <%= @unapproved_users.count %>
                  </span>
                <% end %>
              </li>
            <% else %>
              <li><%= link_to "All Users", users_admin_index_path, class: 'btn btn-outline-secondary mx-2 text-decoration-none' %></li>
              <li class='mx-2 position-relative'>
                <%= link_to "Pending Brokers", brokers_path, class: 'btn btn-outline-secondary text-decoration-none'%>
                <% if !@unapproved_users.empty? %>
                  <span class='position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger'>
                    <%= @unapproved_users.count %>
                  </span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.first_name %>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Account Settings", edit_user_registration_path, class: 'dropdown-item' %>
                <hr class="dropdown-divider">
                <%= link_to 'Logout', destroy_user_session_path, class: 'dropdown-item', method: :delete %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: 'btn btn-outline-primary mx-2' %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
