<!DOCTYPE html>
<html>
  <head>
    <title>Stockit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# favicon %>
    <%= favicon_link_tag asset_path('chart-line-solid.svg') %>
  </head>
  <body class="bg-light">
    <%= render 'layouts/header' %>
    <%= render 'layouts/notices' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
